@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
      background-color: #FAFAFA80;
    background-image: url(https://aichatbot.liquid-themes.com/wp-content/uploads/2023/05/line-bg.svg);
    background-position: top left;
  /* color: rgb(var(--foreground-rgb)); */
}
.header{
  background-color: #FAFAFA80;
    background-image: url(http://aichatbot.liquid-themes.com/wp-content/uploads/2023/05/rings.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
}
.feature{
     background-image: url(http://aichatbot.liquid-themes.com/wp-content/uploads/2023/05/drawing.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.plans{
  background-color: transparent;
    background-image: linear-gradient(180deg, #FAFAFA 0%, #FAFAFA00 100%);
}